<%= form_with scope: :category, url: path, method: method, local: true do |f| %>
	<p><%= f.label :name %></p>
	<p><%= f.text_field :name %></p>
	<p><%= f.file_field :image %></p>
	<p><%= f.submit btn_name %></p>
<% end %>