<%= form_with scope: :airport, url: path, method: method, local: true do |form| %>
	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>
	<p>
		<%= form.file_field :avatar %>
	</p>
	<p>
		<%= form.submit btn_name %>
	</p>
<% end %>