<h1>Stores</h1>
<%= link_to "Create new store", new_store_path %>
<ul>
	<% @stores.each do |a| %>
	<li>
		<p>
			<%= a.name %>
		</p>
		<p>
			<%= link_to "Show", store_path(a) %>
			<%= link_to "Edit", edit_store_path(a) %>
			<%= link_to "Delete", store_path(a), method: :delete %>
		</p>
	</li>
	<% end %>
</ul>

<%= will_paginate @stores %>