<h1>Showing passenger <%= @passenger.name %></h1>

<%= image_tag(@passenger.avatar_url(:thumb)) if @passenger.avatar? %> <br>

<%= link_to "Back", plane_path(@passenger.plane_id) %>
	
	<h2>Create ticket:</h2>
	<%= render 'tickets/form', method: :post, path: passenger_tickets_path(@passenger), btn_name: 'Create ticket'  %>
	<hr>
	<% unless @passenger.tickets.empty? %>
		<h2>tickets:</h2>
		<ul>
			<% @tickets.each do |a| %>
			<li>
				<p><%= a.name %></p>
				<p>
					<%= link_to "Show", ticket_path(a) %>
					<% if current_user && current_user.admin %>
						<%= link_to "Edit", edit_ticket_path(a) %>
						<%= link_to "Delete", ticket_path(a), method: :delete %>
					<% end %>
				</p>
			</li>
			<% end %>
		</ul>
	<% end %>
<%= will_paginate @tickets %>