<h1>Stores</h1>
<%= link_to "Create new store", new_store_path %>
<ul>
	<% @stores.each do |a| %>
	<li>
		<p>
			<%= a.name %>
		</p>
		<p>
			<%= link_to "Show", store_path(a) %>
		</p>
	</li>
	<% end %>
</ul>

<%= paginate @stores %>
<% unless @stores.empty? %>
	<%= page_entries_info @stores %>
<% end %>